.m-t-md {
  margin-top: 20px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-r-sm {
  margin-right: 10px;
}

.addBtn {
  width: 100px;
  background-color: #d65268;
  border-color: #d65268;
  margin-top: 20px;
  margin-right: 40px;
}

.searchBox {
  margin-top: 20px;
  width: 250px;
  border-radius: 0;
}

.searchBtn {
  border: none;
  border-radius: 0;
  background-color: #d65268;
}

.selectBox {
  margin-top: 20px;
  width: 250px;
}

a {
  text-decoration: none;
}

.btn-style-user-details, .btn-style-user-details:hover{
  background-color: #d24c63;
  color: #ffffff;
  border: none;
}